/* Table */
.table-container {
  max-width: 50vw;
  margin: 0 auto;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #007bff;
  color: white;
  text-transform: uppercase;
}

table tr:nth-child(even) {
  background-color: #f8f9fa;
}

table tr:hover {
  background-color: #e9ecef;
}

.table-img {
  max-width: 50px;
  max-height: auto;
}

/* Form */
.form-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-data label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-data input,
.form-data select {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.form-data button {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-data button:hover {
  background-color: #0056b3;
}

.btn-edit,
.btn-delete {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-right: 0.5rem;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s ease;
  border: none;
  border-inline: none;
}

.btn-edit {
  background-color: #28a745;
}

.btn-edit:hover {
  background-color: #218838;
}

.btn-delete {
  background-color: #dc3545;
}

.btn-delete:hover {
  background-color: #c82333;
}
